<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mobile.forged.com.app" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="mobile.forged.com.app.ServicesDemo"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="mobile.forged.com.app.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.ThreadedService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.forged.action.threaded_service" />

                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>
        </service>

        <service
            android:name=".services.LocalService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.forged.action.local_service" />

                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>
        </service>

        <service
            android:name=".services.RemoteService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote_service_process" >
            <intent-filter>
                <action android:name="com.forged.action.remote_service" />

                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>
        </service>

    </application>

</manifest>
